body {
    background-color: #EEEEEE;
    background-image: url('../images/debut_light.png');
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
            
.card 
{
    border: 1px solid #F2F2F2;
    padding: 1em;
    background-color: white;
    -moz-box-shadow: 3px 3px 4px #E3E3E3;
    -webkit-box-shadow: 3px 3px 4px #E3E3E3;
    box-shadow: 3px 3px 4px #E3E3E3;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#E3E3E3')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#E3E3E3');
    margin-bottom: 1em;  
}
            
fieldset legend {
    font-size: x-large;
    color: rgb(0, 64, 136);
}

.button-icon { margin-right: 7px;}

/* Styles for navbar
-----------------------------------------------------------*/
.nav i, a.icon-btn i { margin-right: 7px; }
.navbar a.brand { padding: 5px 5px 5px;}
.brand img { height: 50px;width: auto;}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

/* Styles for jumbotron header
-----------------------------------------------------------*/
.jumbotron {
	padding: 30px 0 10px;
    /*color: #002855;*/
    margin-bottom: 1.5em;
    background: rgb(238,238,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 10%, rgba(204,204,204,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(238,238,238,1) 10%,rgba(204,204,204,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    background: rgba(215,215,215,.4);
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 8px rgba(33, 33, 33, 0.1) inset;

}
.jumbotron p
{
    margin-top: .75em;
    color: #004c85; /* Medium Blue */
    font-size: 1.25em;
    width: 75%;
    line-height: 1.75em;
}
.jumbotron h1 { color: #c99700; /* Gold */ }
.jumbotron ul.nav { margin-bottom: 0px; }

@media (max-width: 979px) {
    .jumbotron { margin-top: -20px; }
}

@media (max-width: 767px) {
    .jumbotron {
         margin-left: -20px;
         margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}


/*==========================================
Evaluation Index Page
==========================================*/
@media(min-width: 768px) {
    .evals li { width: 50%;}
}

/*==========================================
Evaluation answer styles
==========================================*/

.question { font-weight: bold; }
.answer { margin: 1em; }

/*
Desktop
*/
.numerical li label {padding: .5em;}
.numerical li label:hover { background-color: #f8f8f8;}
.numerical input[type="radio"] { display:  none; }
.numerical input[type="radio"] + span i.icon-check-empty { display: inline-block; margin: 0 7px;}
.numerical input[type="radio"] + span i.icon-check { display: none; }
.numerical input[type="radio"]:checked + span i.icon-check-empty { display:  none; }
.numerical input[type="radio"]:checked + span i.icon-check {
    display:  inline-block;
    margin: 0 7px;
}
.additional-comments { margin-top: .5em; color: #808080;}
.additional-comments textarea {display: block;}
@media(min-width: 768px)
{
    .no-touch label.radio {
        padding-left: 0;
        width: 25%;
    }
}


/*
IE8 & Earlier fallback
*/
.ie8 .numerical input[type="radio"] {display: inline-block; margin-right: 7px;}
.ie8 .numerical label.radio span {display:  none;}

/*
Touch styles
*/
.touch .numerical span i {display: none;}
.touch .numerical input[type="radio"] {display:  none;}
.touch .numerical li label {
    border: 1px solid orange;
    padding: 1em;
    background-color: #f8f8f8;
    border: 1px solid #bbbbbb;
}
.touch .answer { margin-left: 0; }

/* as the screen gets smaller, make it more touch friendly */
@media(max-width: 768px)
{
    .numerical span i {display: none;}
    .numerical input[type="radio"] {display:  none;}
    .numerical li label {
        border: 1px solid orange;
        padding: 1em;
        background-color: #f8f8f8;
        border: 1px solid #bbbbbb;
    }
    .answer { margin-left: 0; }
}

@media(max-width: 480px)
{
    textarea {width: 94%;}
}
@media(min-width: 480px) and (max-width: 768px)
{
    textarea {width: 97%;}
}
@media(min-width: 768px) {
    textarea {width: 50%; height: 3em;}
}